<div class="row">
				<div class="span3">
					<!--
					<div class="well fromtop">
						<input placeholder="URL..." type="text" class="input-medium" style="width: 95%" id="url-input">
						<textarea placeholder="Tags..." class="input-medium" style="width: 95%" id="tags-input"></textarea>
						<button class="btn">Send</button>
					</div>
					-->
					<div class="well fromtop">
						<div class="row">
							<div class="span1">
								<img class="numbee-thumb" src="https://si0.twimg.com/profile_images/2201732897/notch_weird_reasonably_small.png">
							</div>
							<div class="offset1">
								<span><strong>@{{ user.id }}</strong><br></span>
								<div style="margin-top: 10px">
									<i><span>{{ user.name }}</span></i>
									<span>{{ user.email }}</span>
								</div>
							</div>
						</div>
					</div>

					<div class="well">
						<ul class="nav nav-list">
							<li class="active">
								<a href="#"><i class="icon-bookmark icon-white"></i> Read it later</a>
							</li>
						</ul>
						<ul class="nav nav-list">
							<li class="nav-header">
								<i class="icon-home"></i>
								Collections
							</li>
							<li>
								<a href="#">Collection 2</a>
							</li>
							<li>
								<a href="#">Collection 3</a>
							</li>
							<li>
								<a href="#">Collection 4</a>
							</li>
						</ul>
					</div>
				</div>

				<!--<div class="span9"> 
						<form class="well fromtop">
							<h3>Share...</h3>
							<input placeholder="URL..." type="text" class="input-medium" style="width: 98%; margin-left: 1px" id="url-input">
							<div id="openwwrt" style="display: none">
								<textarea placeholder="Tags..." class="input-medium" style="width: 98%; margin-left: 1px" id="tags-input"></textarea>
								<button class="btn pull-right">Send</button>
								<div style="clear: both"></div>
							</div>
						</form>
				</div>-->

				<div class="span9 pull-right">
					<div class="well fromtop">
						<div class="row">
							<div class="span1">
								<img class="numbee-thumb" src="https://si0.twimg.com/profile_images/2201732897/notch_weird_reasonably_small.png">
							</div>
							<div class="span7">
								<strong>@notch</strong>
								<div style="margin-top: 5px">
									<input placeholder="URL..." type="text" class="input-medium" style="width: 98%; margin-left: 1px" id="url-input">
									<div id="openwwrt" style="display: none">
										<textarea placeholder="Tags..." class="input-medium" style="width: 98%; margin-left: 1px" id="tags-input"></textarea>
										<button class="btn pull-right">Send</button>
										<div style="clear: both"></div>
									</div>	
								</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="span1">
								<img class="numbee-thumb" src="https://si0.twimg.com/profile_images/2201732897/notch_weird_reasonably_small.png">
							</div>
							<div class="span7">
								<strong>@notch</strong>
								<div style="margin-top: 5px">
									<a href="http://www.google.com">http://www.google.com</a>
									<div style="margin-top: 5px">
									<a href="#">#cool</a>
									<a href="#">#search-engine</a>
									<a href="#">#mountain-view</a>
									</div>
								</div>
							</div>
							<div class="pull-right">
								<a href="#" class="numbee-icon"><i class="icon-heart"></i></a>
								<a href="#" class="numbee-icon"><i class="icon-star"></i></a>
								<a href="#" class="numbee-icon"><i class="icon-tag"></i></a>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="span1">
								<img class="numbee-thumb" src="https://si0.twimg.com/profile_images/2201732897/notch_weird_reasonably_small.png">
							</div>
							<div class="span7">
								<strong>@notch</strong>
								<div style="margin-top: 5px">
									<a href="http://www.google.com">http://www.google.com</a>
									<div style="margin-top: 5px">
									<a href="#">#cool</a>
									<a href="#">#search-engine</a>
									<a href="#">#mountain-view</a>
									</div>
								</div>
							</div>
							<div class="pull-right">
								<a href="#" class="numbee-icon"><i class="icon-heart"></i></a>
								<a href="#" class="numbee-icon"><i class="icon-star"></i></a>
								<a href="#" class="numbee-icon"><i class="icon-tag"></i></a>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="span1">
								<img class="numbee-thumb" src="https://si0.twimg.com/profile_images/2201732897/notch_weird_reasonably_small.png">
							</div>
							<div class="span7">
								<strong>@notch</strong>
								<div style="margin-top: 5px">
									<a href="http://www.minecraft.com">http://www.minecraft.com</a>
									<div style="margin-top: 5px">
									<a href="#">#indie</a>
									<a href="#">#game</a>
									<a href="#">#blocks</a>
									</div>
								</div>
							</div>
							<div class="pull-right">
								<a href="#" class="numbee-icon"><i class="icon-heart"></i></a>
								<a href="#" class="numbee-icon"><i class="icon-star-empty"></i></a>
								<a href="#" class="numbee-icon"><i class="icon-tag"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<hr class="foot">
				<div class="offset1">aaa bbb ccc</div>
			</div>
		</div>