<p>Hi {{#with user}}{{username}}{{/with}} %>!</p>
<p><b>{{#with client}}{{client_id}}{{/with}}</b> is requesting access to your account.</p>
<p>Do you approve?</p>

<form action="/dialog/authorize/decision" method="post">
  <fieldset>
    <div class="control-group">
      <div class="controls">
        <input name="transaction_id" class="input-xlarge" type="hidden" value="{{transactionID}}">
      </div>
    </div>
  <div class="control-group">
    <div class="controls">
      <input type="submit" value="Allow" id="allow">
    </div>
  </div>
  <input type="submit" value="Deny" class="input-xlarge" name="cancel" id="deny">
</form>