<form action="/login" method="post">
  <fieldset>
    <div class="control-group">
      <label>Username:</label>
      <div class="controls">
        <input type="text" class="input-xlarge name="username"/><br/>
      </div>
    </div>

    <div class="control-group">
      <label>Password:</label>
      <div class="controls">
        <input type="text" class="input-xlarge name="password"/><br/>
      </div>
    </div>
  </fieldset>
</form>