<div class="span3 pull-right">
 <div class="well fromtop">
    <div class="row">
      <div class="span1">
        <img class="numbee-thumb" src="https://si0.twimg.com/profile_images/2201732897/notch_weird_reasonably_small.png">
      </div>
      <div class="offset1">
        <span><strong>@{{ user.id }}</strong><br></span>
        <div style="margin-top: 10px">
          <i><span>{{ user.name }}</span></i>
          <span>{{ user.email }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="well">
    <ul class="nav nav-list">
      <li class="nav-header">
        <i class="icon-th-large"></i>
        Clients
      </li>
      <li>
        <a href="/client/new">Create Client</a>
      </li>
      <li>
        <a href="/clients">Manage Clients</a>
      </li>
    </ul>
  </div>
</div>

