img {
    border-radius: 5px;
}
.container {
    max-width: 960px;
}
.margin-right-10 {
    margin-right: 10px !important;
}
.margin-top-5 {
    margin-top: 5px !important;
}
.block {
    display: block !important;
}
.bold {
    font-weight: bold;
}
.position-relative {
    position: relative !important;
}
.position-absolute {
    position: absolute !important;
    top: 0;
    right: 0;
}
.inline-block {
    display: inline-block !important;
}