extends layout

block content
  div.row
    div.span1
      img.numbee-thumb(src="http://www.gravatar.com/avatar/1d27f02822d73e2c64e87e14c45bffcc?s=64")
    div.span7
      strong @#{user.get('username')}
      div(style="margin-top: 5px")
        form(action="/links/new",method="post")
          input(type="hidden",value=csrf,name="_csrf")
          input.input-medium#url-input(placeholder="URL...",type="text",style="width: 98%; margin-left: 1px",name="uri")
          div
            textarea(name="tags", class="input-medium", id="tags-input", rows="1")
          button.btn.pull-right(type="submit") Send
          div(style="clear: both")
