<div class="row">
  <div class="span1">
    <img class="numbee-thumb" src="https://si0.twimg.com/profile_images/2201732897/notch_weird_reasonably_small.png">
  </div>
  <div class="span7">
    <strong>@notch</strong>
    <div style="margin-top: 5px">
      <form action="/links/new" method="post">
        <input placeholder="URL..." type="text" class="input-medium" style="width: 98%; margin-left: 1px" name="uri" id="url-input">
        <div>
          <textarea name="tags" class="input-medium" id="tags-input" rows="1"></textarea>
          <button type="submit" class="btn pull-right">Send</button>
          <div style="clear: both"></div>
        </div>
      </form> 
    </div>
  </div>
</div>
<script>
$('#tags-input')
  .textext({
    plugins : 'tags autocomplete'
  })
  .bind('getSuggestions', function(e, data)
    {
    var list = [
      'Basic',
      'Closure'
    ],
    textext = $(e.target).textext()[0],
    query = (data ? data.query : '') || '';
    
    $(this).trigger(
      'setSuggestions',
      { result : textext.itemManager().filter(list, query) }
    );
  });
</script>
