extends layout

block content
  center
    h1 Uh oh, something went wrong รง_รง
    img(style='height: 500px; margin-top: 20px; margin-bottom: 20px;', src='http://httpcats.herokuapp.com/#{status}')
    h3
      | Feel free to 
      a(href='mailto:help@urlship.com') contact us
