extends layout

block content
  .container
    .row-fluid
      .span12
        .well
          h1 Bookmarking has never been so easy
    .row-fluid
      .span1.offset2
        form.form-horizontal(method='post', action='/send_mail')
          input(type='hidden', name='_csrf', value='#{csrf}')
          .control-grop
            .controls
              .input-append
                input.email-signup-input(type='text', name='email', placeholder='Email', style='height: 40px')
                button.email-signup-submit(class='btn btn-success', type='submit', style='height: 50px') Sign Up
    .row-fluid(style='margin-bottom: 20px')
      .span1.offset5
        .btn-group(style='font-size: 50px')
          a.tweet.icon(href='/twitter')
            i.icon-twitter
          a.facebook.icon(href='#')
            i.icon-facebook
          a.icon(href='#')
            i.icon-github
    .row-fluid(style='font-size: 20px')
      .span4
        .well
          h3 
            i.icon-link
            | &nbsp;Links
          p Save, search and share your links.
      .span4
        .well
          h3
            i.icon-group
            | &nbsp;People
          p Discover new resources
      .span4
        .well
          h3 
            i.icon-tags
            | &nbsp;Tags and Buckets
          p Organize your contents through tags
