doctype 5
html
  head
    meta(charset="utf-8")
    title Urlship
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="description",content="")
    meta(name="author",content="")
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")

    link(rel="stylesheet",href="/css/bootstrap.css")
    link(href="/css/mystyle.css",rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Oleo+Script:400,700|Concert+One|Ropa+Sans",rel="stylesheet",type="text/css")
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          ul.nav
            li#mylogo
              a.brand(href="/") urlship
          div(style="text-align: center")
            form.navbar-search.offset3
              div.input-prepend
                input.search-query(type="text",placeholder="Search...")
                span.add-on
                  i.icon-search
          ul.nav.pull-right
            li
              a(href="#") About
            if !user
              li
                a(href="/sign_up") Sign Up
              li
                a(href="/login") Login
            else
              li
                a(href="/logout") Logout
    div.container
      div.row
        if user
          .span9
            .well.fromtop
              block content
          include rightMenu
        else
          div.span12
            div.well.fromtop
              block content
        
