doctype 5
html
  head
    meta(charset="utf-8")
    title Urlship
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="description",content="")
    meta(name="author",content="")
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")

    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap.no-icons.min.css")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome-ie7.css')
    link(rel='stylesheet', href='/css/bootstrap-tagmanager.css')
    link(href="/css/mystyle.css",rel="stylesheet")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Sans')
    link(href="http://fonts.googleapis.com/css?family=Oleo+Script:400,700|Concert+One|Ropa+Sans",rel="stylesheet",type="text/css")

    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.4/bootstrap.min.js")
    script(src='/js/bootstrap-tagmanager.js')
    script(src="/js/jquery.validate.min.js")
    script(src="/js/frontend.js")

  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href="/")
            span(style='color: #5BB75B') α
            | &nbsp;urlship
          ul.nav.pull-right
            li
              a(href="#") About
            if !user
              li
                a(href="/sign_up") Sign Up
              li
                a(href="/login") Login
            else
              li
                a(href="/logout") Logout
    div.container
      div.row
        if user
          include rightMenu
          .span9
            .well.fromtop
              block content
        else
          if landing
            div.span12
              div.fromtop
                block content
          else
            div.span4.offset4
              div.well.fromtop
                block content
    div.navbar.navbar-fixed-bottom
      .navbar-inner
        .container
          ul.nav
            li
              a(style='color: white !important; text-shadow: none') Version: #{VERSION}
          ul.nav.pull-right
            li
              a.footer-button(href='https://twitter.com/urlship') 
                i.icon-twitter-sign
            li
              a.footer-button(href='https://github.com/urlship')
                i.icon-github
