extends layout

include mixins/linkEntry

block content
  script(src='/js/tour.js')
  include createLink
  if links
    for link in links
      if link
        = linkEntry_mixin(link, user, (user.get('links').length - 1)==user.get('links').indexOf(link))
