extends layout

block content
  if user && user.get('links')
    for link in user.get('links')
      div.row
        div.span1
          img.numbee-thumb(src="#{gravatar(user.get('email'))}")
        div.span7
          strong= user.get('email')
          div(style="margin-top: 5px")
            a(href="#{link.get('uri')}")= link.get('uri')
            div(style="margin-top: 5px")
              for tag in link.get('tags')
                a(href="#")= tag.get('name')
        div.pull-right
          .m-btn-group
            a(class='m-btn icn-only')
              i.icon-tag
            a(class='m-btn icn-only red')
              i.icon-heart.icon-white
      hr
