ul.nav
  li
    a(href='/logout') Logout
  li
    a(href='/about') About
  li
    a(href='/new') Create Link
  li
    a(href='/buckets/new') Create Bucket
  li
    a(href='/#{user.get("username")}/buckets') My Buckets
  li
    a(href='/client/new') Create Client
  li
    a(href='/clients') Manage Clients
  li
    a(href='/profile') Profile
