extends layout

block content
  form#signup.form-horizontal(action="/sign_up",method="post")
    input(type='hidden', name='token', value='#{token}')
    input(type='hidden', name='_csrf', value='#{csrf}')
    legend Register
    div.control-group
      label.control-label(for="username") Username
      div.controls
        input.input-medium.required(type="text",placeholder="cat",name="username")
    div.control-group
      label.control-label(for="name") Name
      div.controls
        input.input-medium.required(type="text",placeholder="Name",name="name")
    div.control-group
      label.control-label(for="surname") Surname
      div.controls
        input.input-medium.required(type="text",placeholder="Surname",name="surname")
    div.control-group
      label.control-label(for="psw") Password
      div.controls
        input.input-medium.required(type="password",placeholder="keyboardcat",name="password")
    div.form-actions
      button(class='btn-success btn', type="submit") Sign Up
