extends layout

block content
  form#signup.form-horizontal(action="/sign_up",method="post")
    legend Register
    div.control-group
      label.control-label(for="username") Username
      div.controls
        input(type="hidden",name="_csrf",value=csrf)
        input.input-medium.required(type="text",placeholder="cat",name="username")
    div.control-group
      label.control-label(for="mail") E-mail
      div.controls
        input.input-medium.required.email(type="text",placeholder="email@provider.com",name="email")
    div.control-group
      label.control-label(for="name") Name
      div.controls
        input.input-medium.required(type="text",placeholder="Name",name="name")
    div.control-group
      label.control-label(for="surname") Surname
      div.controls
        input.input-medium.required(type="text",placeholder="Surname",name="surname")
    div.control-group
      label.control-label(for="psw") Password
      div.controls
        input.input-medium.required(type="password",placeholder="keyboardcat",name="password")
    div.form-actions
      button(class='btn-success btn', type="submit") Sign Up
