extends layout

include mixins/linkEntry

block content
  form(id='sub', method='post', action=!~usertags.indexOf(tag) ? '/subscribe/'+tag : '/unsubscribe/'+tag, style="display: none")
    input(type='hidden', name='_csrf', value=csrf)

  if !~usertags.indexOf(tag)
    button(class='btn btn-primary', style="margin-bottom: 20px", onclick="document.getElementById('sub').submit()") Subscribe
  else
    button(class='btn btn-danger', style="margin-bottom: 20px", onclick="document.getElementById('sub').submit()") Unsubscribe

  for link in links
    if link
      = linkEntry_mixin(link, link.get('user'))
